body {
  background-color: #27282d;
}
.logo {
  width: 17vw;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.toolBar {
  width: 20vw;
  height: 96vh;
  margin: 2vh;
  border-radius: 15px;
  box-shadow: 5px 5px 15px #1e1d20;
}

.inputField {
  
}
.DataSet {
  max-height: 150px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end;
  align-content: flex-end;  */
  overflow-y: auto;
}

.DataSet div {
  display: flex;
  justify-content: center;
  min-height: 15px;
  margin: 6px 0;
}

.inputBox {
  height: 20px;
  font-size: 16px;
  width: 40%;
  background-color: #3d3d47;
  border-radius: 5px;
  border: none;
  margin: 4px;

}
.pitchBox {
  
}

.pitchBox .inputBox {
  text-align: center;
  background-color: #3d3d47;
  border: none;
}

.graph{
  height: 100vh;;
  width: 100vw;;
}

.App{
  display: flex;
  flex-direction: row;
}